<div style="width:100%;">
    <canvas id="canvas"></canvas>
</div>

<script>
    var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    var config = {
        type: 'line',
        data: {
            labels: [
              <% @stats.each do |stat| %>
                '<%= stat.created_at.to_date %>',
              <% end %>
            ],
            datasets: [{
                yAxisID: "y-axis-usd",
                label: "Price USD",
                borderWidth: 1,
                pointRadius: 1,
                backgroundColor: window.chartColors.green,
                borderColor: window.chartColors.green,
                data: [
                  <% @stats.each do |stat| %>
                    '<%= stat.price_usd %>',
                  <% end %>
                ],
                fill: false,
            },
            {
                yAxisID: "y-axis-btc",
                label: "Price BTC",
                fill: false,
                borderWidth: 1,
                pointRadius: 1,
                backgroundColor: window.chartColors.yellow,
                borderColor: window.chartColors.yellow,
                data: [
                  <% @stats.each do |stat| %>
                    '<%= stat.price_btc %>',
                  <% end %>
                ],
            },
            {
                yAxisID: "y-axis-tw",
                label: "Twitter mentions",
                fill: false,
                borderWidth: 1,
                pointRadius: 1,
                backgroundColor: window.chartColors.blue,
                borderColor: window.chartColors.blue,
                data: [
                  <% @tw_stats.each do |stat| %>
                    '<%= stat.count %>',
                  <% end %>
                ],
            }
            ]
        },
        options: {
            responsive: true,
            title:{
                display:true,
                text: '<%= @token.name %> performance during last 30 days'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                        type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: "left",
                        id: "y-axis-usd",
                    }, {
                        type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: "right",
                        id: "y-axis-btc",
                        gridLines: {
                            drawOnChartArea: false
                        }
                    }, {
                        type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: "right",
                        id: "y-axis-tw",
                        gridLines: {
                            drawOnChartArea: false
                        }
                    }]
            }
        }
    };

    window.onload = function() {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx, config);
    };
</script>